/*
 * The syntax dark mode styles.
 */

@mixin dark-syntax {
  --highlight-bg-color: #011627;
  --highlighter-rouge-color: #000000;
  --highlight-lineno-color: #6c6c6d;
  --inline-code-bg: #ffdcdc;
  --code-header-text-color: #6a6a6a;
  --code-header-muted-color: rgb(60, 60, 60);
  --code-header-icon-color: rgb(86, 86, 86);
  --clipboard-checked-color: #2bcc2b;
  --filepath-text-color: #bdbdbd;

  pre { color: #bfbfbf; } /* override Bootstrap */

  .highlight {
    .gp { color: #818c96; }
  }

  /* syntax highlight colors from https://raw.githubusercontent.com/jwarby/pygments-css/master/monokai.css */

  .highlight pre { background-color: var(--highlight-bg-color); }
  .highlight .hll { background-color: var(--highlight-bg-color); }
  .highlight .c { color: #75715e; } /* Comment */
  .highlight .err { color: #960050; } /* Error */
  .highlight .k { color: #c792ea; } /* Keyword */
  .highlight .l { color: #ae81ff; } /* Literal */
  .highlight .n { color: #7fdbca; } /* Name */
  .highlight .o { color: #f78c6c; } /* Operator */
  .highlight .p { color: #f8f8f2; } /* Punctuation */
  .highlight .cm { color: #75715e; } /* Comment.Multiline 주석 */
  .highlight .cp { color: #75715e; } /* Comment.Preproc */
  .highlight .c1 { color: #75715e; } /* Comment.Single */
  .highlight .cs { color: #75715e; } /* Comment.Special */
  .highlight .ge { color: inherit; font-style: italic; } /* Generic.Emph */
  .highlight .gs { font-weight: bold; } /* Generic.Strong */
  .highlight .kc { color: #66d9ef; } /* Keyword.Constant */
  .highlight .kd { color: #c792ea; } /* Keyword.Declaration */
  .highlight .kn { color: #f92672; } /* Keyword.Namespace */
  .highlight .kp { color: #66d9ef; } /* Keyword.Pseudo */
  .highlight .kr { color: #66d9ef; } /* Keyword.Reserved */
  .highlight .kt { color: #66d9ef; } /* Keyword.Type */
  .highlight .ld { color: #e6db74; } /* Literal.Date */
  .highlight .m { color: #ae81ff; } /* Literal.Number */
  .highlight .s { color: #addb67; } /* Literal.String */
}
